.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

.first-heading {
    font-size: 7rem;
    font-weight: 700;
    text-align: start;
    opacity: 0;
    animation: 0.8s hey ease-out forwards;
    animation-delay: 0.2s;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='58' viewport='0 0 100 100' style='fill:black;font-size:34px;'><text y='50%'>👋</text></svg>") 16 0,auto;
}


.first-paragraph{
    font-weight: 500;
    font-size: 2rem;
    text-align: end;
    width: 40%;
    margin-left: 140px;
    opacity: 0;
    animation: 0.4s para-animate ease-in forwards;
    animation-delay: 0.8s;
}

.arrow-button{
    font-size: 4rem;
    color: black;
    border: none;
    opacity: 0;
    background-color: transparent;
    animation: 0.4s arrow-waiter ease-in forwards 0.9s;
  }
  
  .arrow-button:hover {
    cursor: pointer;
  }

@keyframes para-animate {
    from {margin-top: -50px; opacity: 0;}
    to {margin-top: -60px; opacity: 1;}
}

@keyframes arrow-waiter {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hey {
    from {
      opacity: 0;
        transform: translateX(-44%);
      }
  
      to {
        opacity: 1;
        transform: translateX(-40%);
      }
    }

@keyframes hey-mobile {
        from {
            opacity: 0;
            transform: translateX(-20%);
          }
      
          to {
            opacity: 1;
            transform: translateX(-9%);
          }
        } 

@media only screen and (min-width: 0px) and (max-width: 1024px) {

    .first-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: auto;
        padding-top: 10px;
        letter-spacing: -2px;
    }

    .arrow-button{
        margin: 20px;
        margin-top: 8%;
        margin-left: 32px;
      }

    .first-paragraph{
        font-weight: 500;
        font-size: 2em;
        text-align: end;
        padding-left: 10%;
        width: 90%;
        margin-left: 0px;
        animation: 0.4s para-animate ease-in forwards;
        animation-delay: 0.8s;
    }
    
    .first-heading {
        font-size: 4em;
        font-weight: 700;
        margin-top: 30px;
        text-align: start;
        margin-left: -10px;
        animation: 0.8s hey-mobile ease-in-out forwards;
        animation-delay: 0.2s;
    }
}