.second-container {
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    z-index: 400;
    
    margin-left: 140px;
}

.black-container-for-second{
    height: 50vh;
    background-color: black;
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
    justify-content: center;
    border-radius: 34px;
    flex-direction: column;
    align-items: center;
}

.second-paragraph {
    color: #e7e7e9;
    font-size: 2.4rem;
    text-align: center;
    width: 82%;
    letter-spacing: -2.4px;
    line-height: 60px;
    font-weight: 500;
}

@media (max-width: 767.98px) {

    .second-container {
        margin: 20px;
        height: 100svh;
    }

    .black-container-for-second{
        background-color: black;
        margin: 0;
        border-radius: 12px;
    }
    
    .second-paragraph {
        color: white;
        font-size: 1.69rem;
        text-align: center;
        width: 88%;
        line-height: 32px;
        letter-spacing: -1.8px;
    }
}

/* 150% */
@media (min-width: 1242px) and (max-width: 1364px) {
    
    .second-paragraph {
        color: #e7e7e9;
        font-size: 2rem;
        text-align: center;
        width: 82%;
        letter-spacing: -2.4px;
        line-height: 50px;
        font-weight: 500;
    }

}

/* 175% */
@media (min-width: 961px) and (max-width: 1242px) {

    .second-container {
        display: flex;
        height: auto;
        justify-content: center;
        flex-direction: column;
        margin: 20px;
        z-index: 400;
        margin-left: 100px;
    }

    .second-paragraph {
        color: #e7e7e9;
        font-size: 1.7rem;
        text-align: center;
        width: 82%;
        letter-spacing: -1.4px;
        line-height: 40px;
        font-weight: 500;
    }

}

/* 200% to 250% */
@media (min-width: 600px) and (max-width: 960px) {

    .second-container {
        display: flex;
        height: auto;
        justify-content: center;
        flex-direction: column;
        margin: 20px;
        z-index: 400;
        margin-left: 100px;
    }

    .second-paragraph {
        color: #e7e7e9;
        font-size: 1.3rem;
        text-align: center;
        width: 82%;
        letter-spacing: -1.4px;
        line-height: 40px;
        font-weight: 500;
    }    

} 