.thirdcontainer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: -1px;
    overflow: hidden;
    padding-bottom: 20px;
}

.thirdheading{
    font-size: 3rem;
    padding-left: 140px;
}

.chooseme {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 180px;
    cursor: pointer;
}

.square {
    display: flex;
    width: 49vmin;
    padding: 20px;
    border-radius: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
    flex-direction: column;
}


.reason {
    text-align: start;
    font-size: 1.8rem;
    transition: transform 0.3s;
    transform: translateY(650%);
    width: 50vmin;
}

.numberid{
    font-size: 1.2rem;
}

.details {
    opacity: 0;
    visibility: hidden;
    font-size: 1.5rem;
    align-self: center;
    transition: opacity 0.4s 0.1s;
    text-align: start;
}

.square:hover .reason {
    transform: translateY(100%);
  }

.square:hover .details {
    opacity: 1;
    visibility: visible;
  }

  /* CSS */
.services {
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    margin: 0px;
    padding-left: 100px; 
    width: 110vmin;
}

.servicerow {
    display: flex;
    flex-direction: column; /* Ensure each item aligns vertically */
    align-items: start; /* Align content to the start of the column */
    padding: 20px; /* Padding inside each row */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.servicerow:nth-child(4) {
    border-bottom: none; /* Remove border */
}

.consultation-button{
    align-self: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    font-size: 1.2rem;
   
    transition: transform 0.2s ease-in-out;
  }

  .consultation-button:hover {
    background-color: black;
    color: white;
    border-color: 1px solid white;
    transform: scale(1.05);
  }

.service {
    font-size: 1.5rem;
    font-weight: bold;
    width: 50vmin;
}

.description {
    font-size: 1.3rem;
    margin-top: 10px; /* Provides spacing between title and description */
}

.Time {
    font-size: 1.1rem;
    margin-top: 10px; 
    align-self: flex-end;
}


@media (max-width: 767.98px) {

    .details {
        opacity: 1;
        visibility: visible;
        font-size: 1.1rem;
        align-self: center;
        transition: opacity 0.4s 0.1s;
        text-align: start;
    }

    .thirdheading{
        font-size: 2rem;
        padding-left: 0px;
    }

    .numberid{
        font-size: 1rem;
    }    

    .services {
        display: flex;
        flex-direction: column; /* Aligns items vertically */
        margin: 0px;
        padding-left: 0px;
        width: 100vmin;
    }

    .thirdcontainer {
        padding-bottom: 10px;
        margin-top: -80px;
    }

    .square:hover .reason {
        transform: none;
      }

    .reason {
        text-align: start;
        font-size: 1.2rem;
        transform: translateY(10%);
    }

    .chooseme {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 0px;
        cursor: pointer;
    }
    
    .square {
        display: flex;
        width: 68vmin;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
        flex-direction: column;
    }

  }


  /* 150% */
@media (min-width: 1242px) and (max-width: 1364px) {

    .thirdheading{
        font-size: 2rem;
    }

    .square {
        display: flex;
        width: 44vmin;
        padding: 20px;
        border-radius: 20px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
        flex-direction: column;
    }
    
    
    .reason {
        text-align: start;
        font-size: 1.4rem;
        transition: transform 0.3s;
        transform: translateY(580%);
        width: 45vmin;
    }
    
    .numberid{
        font-size: 1.2rem;
    }
    
    .details {
        opacity: 0;
        visibility: hidden;
        font-size: 1rem;
        align-self: center;
        transition: opacity 0.4s 0.1s;
        text-align: start;
    }
    
    .square:hover .reason {
        transform: translateY(100%);
      }
    
    .square:hover .details {
        opacity: 1;
        visibility: visible;
      }


}


/* 175% */
@media (min-width: 961px) and (max-width: 1242px) {

    .thirdheading{
        font-size: 2rem;
    }

    .numberid{
        font-size: 1.2rem;
    }

    .square {
        display: flex;
        width: 44vmin;
        padding: 20px;
        border-radius: 20px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
        flex-direction: column;
    }
    
    
    .reason {
        text-align: start;
        font-size: 1.4rem;
        transition: transform 0.3s;
        transform: translateY(580%);
        width: 44vmin;
    }

    .details {
        opacity: 0;
        visibility: hidden;
        font-size: 1rem;
        align-self: center;
        transition: opacity 0.4s 0.1s;
        text-align: start;
    }
}

/* 200% */
@media (min-width: 769px) and (max-width: 960px) {

    .thirdheading{
        font-size: 1rem;
    }

    .numberid{
        font-size: 1rem;
    }


    .square {
        display: flex;
        width: 40vmin;
        padding: 20px;
        border-radius: 20px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
        flex-direction: column;
    }
    
    
    .reason {
        text-align: start;
        font-size: 1.2rem;
        transition: transform 0.3s;
        transform: translateY(580%);
        width: 40vmin;
    }

    .details {
        opacity: 0;
        visibility: hidden;
        font-size: .8rem;
        align-self: center;
        transition: opacity 0.4s 0.1s;
        text-align: start;
    }

} 
  

/* 250% */
@media (min-width: 650px) and (max-width: 769px) {

    .thirdheading{
        font-size: 1rem;
    }

    .numberid{
        font-size: .8rem;
    }

    .square {
        display: flex;
        width: 34vmin;
        padding: 20px;
        border-radius: 20px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
        flex-direction: column;
    }
    
    
    .reason {
        text-align: start;
        font-size: .8rem;
        transition: transform 0.3s;
        transform: translateY(580%);
        width: 38vmin;
    }

    .details {
        opacity: 0;
        visibility: hidden;
        font-size: .6rem;
        align-self: center;
        transition: opacity 0.4s 0.1s;
        text-align: start;
    }

}

/* 300% */
@media (min-width: 450px) and (max-width:650px) {



}