
#root {
  font-family: Inter;
  scroll-behavior: smooth;
}

.meline {
  position: absolute;
  height: 10vh;
  right: 0;
  top: 0;
  transform: translateY(160%) translateX(-12%) rotate(-20deg);
}

.burhanpic {
  position: absolute;
  height: 30vh;
  right: 0;
  top: 0;
  transform: translateY(80%) translateX(-30%);
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s scale ease;
}

.burhanpic:hover {
  scale: 1.1;
}

/* 200% to 250% */
@media (min-width: 600px) and (max-width: 960px) {

  .meline {
    position: absolute;
    height: 10vh;
    right: 0;
    top: 0;
    transform: translateY(160%) translateX(-12%) rotate(-20deg);
  }
  
  .burhanpic {
    position: absolute;
    height: 30vh;
    right: 0;
    top: 0;
    transform: translateY(80%) translateX(-30%);
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s scale ease;
  }
  
  .burhanpic:hover {
    scale: 1.1;
  }

}

.absolutegithub:hover, .mailicon:hover, .resumeicon:hover  {
  scale: 1.02;
}

.mailicon {
  position: fixed;
  height: 7vh;
  left: 0;
  bottom: 0;
  transition: 0.3s scale ease;
  transform: translateY(-540%) translateX(74%);
  cursor: pointer;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Width for vertical scrollbars, height for horizontal scrollbars */
}


/* Style the scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #666; /* Gray color for the thumb */
  border-radius: 0px; /* Optional: round the edges */
}

/* Add hover effect to the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.resumeicon {
  position: fixed;
  height: 7vh;
  left: 0;
  bottom: 0;
  transition: 0.3s scale ease;
  transform: translateY(-684%) translateX(74%) rotate(-1deg);
  cursor: pointer;
}

.absolutegithub {
  position: fixed;
  height: 8vh;
  left: 0;
  transition: 0.3s scale ease;
  bottom: 0;
  transform: translateX(60%) translateY(-333%);
  cursor: pointer;
}

.absoluteline {
  position: fixed;
  height: 14vh;
  left: 0;
  bottom: 0;
  transform: rotate(93deg) translateY(16%) translateX(-80%);
}

@media (max-width: 767.98px) {

  .mailicon {
    position: absolute;
    height: 5vh;
    left: 0;
    bottom: 0;
    transform: translateY(-520%) translateX(52%);
    cursor: pointer;
  }

  .resumeicon {
    position: absolute;
    height: 5vh;
    left: 0;
    bottom: 0;
    transition: 0.3s scale ease;
    transform: translateY(-650%) translateX(50%) rotate(-1deg);
    cursor: pointer;
  }
  
  .absolutegithub {
    position: absolute;
    height: 6vh;
    left: 0;
    bottom: 0;
    transform: translateX(36%) translateY(-310%);
    cursor: pointer;
  }
  
  .absoluteline {
    position: absolute;
    height: 8vh;
    left: 0;
    bottom: 0;
    transform: rotate(95deg) translateY(16%) translateX(-120%);
  }

  .meline {
    position: absolute;
    height: 7vh;
    right: 0;
    top: 0;
    transform: translateY(160%) translateX(-10%) rotate(-10deg);
    cursor: pointer;
    z-index: -2;
  }
  
  .burhanpic {
    position: absolute;
    height: 18vh;
    z-index: -1;
    right: 0;
    top: 0;
    transform: translateY(90%) translateX(-40%);
    cursor: pointer;
  }
  
}